name: Scanners

on:
  push:
  schedule:
    - cron: "0 0 * * *"

jobs:
  salus_security:
    runs-on: ubuntu-latest
    name: Salus
    steps:
      - uses: actions/checkout@v2
      - name: Salus Scan
        id: salus_scan
        uses: federacy/scan-action@0.1.4
        env:
          SALUS_CONFIGURATION: "file://salus-config.yml"
      - uses: actions/upload-artifact@master
        if: failure()
        with:
          name: Salus report
          path: ./salus-report.txt
